h1{
  text-align: center;
  color: #b30000;
}
#enter{
  width: 7%;
  height: 28px;
  font-size: 15px;
  border-radius: 4px;
  margin: 0 0 0 6%;
}

input{
  width: 10%;
  height: 25px;
  font-size: 14px;
  border-radius: 4px;
  margin: 0 0 0 6%;
  float: left;
  text-align: center;
}
li{
  color: #b30000;
}
